@model MedicalRecordModel

@{
    ViewData["Title"] = "Thêm hồ sơ bệnh nhân";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thêm hồ sơ bệnh nhân</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                
                <form method="post">
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="ExaminationDate"></label>

                        <input class="form-control" asp-for="ExaminationDate">
                        <span class="form-control-feedback text-danger" asp-validation-for="ExaminationDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Service"></label>
                        <div class="dropdown bootstrap-select form-control">
                            <select asp-for="Service" asp-items="@ViewBag.SelectService"
                                    class="selectpicker form-control"
                                    data-style="btn-outline-primary"
                                    data-size="5" tabindex="-98">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <div class="dropdown bootstrap-select form-control">
                            <select asp-for="PhoneNumber" asp-items="@ViewBag.SelectPhoneNumber"
                                    class="selectpicker form-control"
                                    data-style="btn-outline-primary"
                                    data-size="5" tabindex="-98">
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-3" style ="display : none">
                        <label class="form-control-label" asp-for="CreatedByDentistId"></label>
                        <input class="form-control" asp-for="CreatedByDentistId" value ="@ViewBag.id">
                        <span class="form-control-feedback text-danger" asp-validation-for="CreatedByDentistId"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Thêm
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="MedicalRecord" asp-action="Index" asp-route-dentistId="@ViewBag.id" type="button" class="btn btn-danger btn-block btn-rounded">
                                Thoát
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>