@model CreateUserModel

@{
    ViewData["Title"] = "Tạo User mới";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tạo User mới</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName">
                        <span class="form-control-feedback text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="Password"></label>
                        <input class="form-control" asp-for="Password">
                        <span class="form-control-feedback text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword">
                        <span class="form-control-feedback text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="FullName"></label>
                        <input class="form-control" asp-for="FullName">
                        <span class="form-control-feedback text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="PhoneNumber"></label>
                        <input class="form-control" asp-for="PhoneNumber">
                        <span class="form-control-feedback text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType"></label>
                        <div class="dropdown bootstrap-select form-control">
                            <select asp-for="UserType" asp-items="@(ViewData["UserTypeList"] as List<SelectListItem>)" 
                                class="selectpicker form-control" 
                                data-style="btn-outline-primary" 
                                data-size="5" tabindex="-98">
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Tạo tài khoản 
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="Administration" asp-action="ListUsers" type="button" class="btn btn-danger btn-block btn-rounded">
                                Thoát
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>